/* @import url('https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:300,800');
*{margin: 0;padding: 0;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;overflow-x: hidden;}
 */


.clipped {
  display:flex;
  align-items:flex-end;
  height:100%;
  line-height:1.2;
  overflow:hidden;
  background: url("https://lh3.googleusercontent.com/proxy/Djy9WhxmWOQAmLlrJhJ8XTgND_Kcz5pDN6v2O2xfWMhAGElNZiu_wTSNfhNQxbYOXqgu8SwdIM_KAClkeGwty7Mqt8aZK_synpdbyYuy8njsfv4pE7Gm1uyNY70") no-repeat #fff;
    background-size: 1100px 160px;
  color: rgba(255,255,255,0.3);
  font-size: 2em;
  font-family: 'Playfair Display', serif;
  /*-webkit-text-fill-color:transparent;
  -webkit-background-clip: text;
  -webkit-filter: invert(100%) hue-rotate(0deg);
  
  change hue-rotate to play with tint */
}


#title{
  overflow:hidden;
  color:#fff;
  mix-blend-mode:difference;
  padding:30px calc(15% - 20px);
}
input {
  display: block;
}



.header {
  height: 250px;
  width: 100% - 10px;
  overflow: hidden;
  background: url("https://www.w3schools.com/css/trolltunga.jpg") no-repeat #fff;
  background-size: cover;
  margin:20px 20px 0 20px;
  border-radius:8px;
  box-shadow:2px 3px 20px 0 rgba(0,0,0,0.3);
}

.upload {
  position:fixed;
  right:40px;
  top:40px;
  width: 20%;
  margin-left:10%;
  display: block;
  float: left;
  overflow:visible;
}
input[name=titleInput]{
  width:100%;
  height:50px;
  padding:10px 15px;
  margin-bottom:10px;
  font-size:.8em;
  font-family: 'Raleway', sans-serif;
  font-weight:300;
  border-radius:3px;
  border:0;
  box-shadow:2px 1px 10px 0 rgba(0,0,0,0.5);
}
#uploadFile{
  display:none;
}
#uploadButton{
  margin-bottom:20px;
  font-family: 'Raleway', sans-serif;
  font-weight:300;
  height:50px;
  width:100%;
  font-size:.8em;
  background-color:white;
  border-radius:3px;
  border:0;
  text-align:left;
  padding:10px 15px;
  box-shadow:2px 1px 10px 0 rgba(0,0,0,0.5);
}
content{
  display:block;
  padding:30px;
  color:#fff;
  opacity:.8;
  padding:30px 15%;
}
h2{
  font-size: 1.1em;
  font-family: 'Raleway', sans-serif;
  font-weight:800;
  letter-spacing:0.5pt;
}
hr{
  margin:10px 0 10px 0;
  width:30px;
  height:6px;
  background-color:;
  border:0;
  text-align:left;
}
p{
  font-size: .9em;
  font-family: 'Raleway', sans-serif;
  font-weight:300;
  overflow:hidden;
}









/* @import url(//fonts.googleapis.com/css?family=Abril+Fatface|Droid+Serif:400,700,400italic,700italic);
html,body{
  height:100%
} */
/* body {
  background: linear-gradient(to bottom, rgba(0,5,10,0.4) 0%,rgba(0,0,0,0) 100%);
  font-family: 'Droid Serif', serif;
} */
/* 
.blog-card {
  max-width: 550px;
  width:100%;
  height: 500px;
  position: absolute;
  font-family: 'Droid Serif', serif;
  color:#fff;
  top: 20%;
  right: 0;  
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0px;
  box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition:all 0.4s;
  background: url(https://unsplash.it/600/800?image=1061) center no-repeat;
  background-size: 100%;
} */
.blog-card a{ 
color:#fff;
  text-decoration:none;
  transition:all 0.2s
}
.blog-card .color-overlay {
  background: rgba(64, 84, 94,0.5);
  width: 550px;
  height: 500px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.blog-card .gradient-overlay {  
  background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 21%);
  width: 550px;
  height: 500px;
  position: absolute;
  top: 350px;
  left: 0;
  z-index: 15;
}
.blog-card:hover{
    box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
}
.blog-card:hover .card-info {
  opacity: 1;
  bottom: 100px;
}
.blog-card:hover .color-overlay {
  background: rgba(64, 64, 70,0.8);
}
.blog-card:hover .title-content{
  margin-top:70px
}
.title-content {
  text-align: center;
  margin: 170px 0 0 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
  transition:all 0.6s
}

.blog-card:hover h3:after{
 
  animation: changeLetter 0.3s 1 linear;
  width:80%
}

/* .blog-card h3,h1 {
  font-size: 1.9em;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: 'Abril Fatface', serif;
  margin-bottom: 0;
  display:inline-block;
}
.blog-card h3 a{  
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
  transition:all 0.2s
}
.blog-card h3 a:hover{
  text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.95);
} */
/* h3:after {
  content: " ";
  display: block; 
  width: 10%;
  height: 2px;
  margin: 20px auto;
  border: 0;
  background: #BDA26B;
  transition:all 0.2s
} */
/* 
@keyframes changeLetter {
  0% {
    width: 10%;
  }
  100% {
    width: 80%;
  }
} */

.intro {
  width: 170px;
  margin: 0 auto;
  color: #ddd;
  font-style: italic;
  line-height: 18px;
}
.intro a{
  color: #ddd
}
.intro a:hover{
  text-decoration:underline
}
.card-info {
   box-sizing: border-box;
  padding: 0;
  width: 100%;
  position: absolute;
  bottom: -40px;
  left: 0;
  margin: 0 auto;
  padding: 0 50px;
  font-style: 16px;
  line-height: 24px;
  z-index: 20;
  opacity: 0;
  transition: bottom 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.card-info a{
  display:block;
  width:100px;
  margin:15px auto;
  background:#fff;
  color:#444;
  padding:3px 10px;
  border-radius:2px;
  font-size:0.8em
}
.card-info a:hover{
  background: #8e7c49;
  color:#fff;
}
.card-info a:hover span{
   filter: brightness(10);
   opacity:1
}
.utility-info {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 20;
  width:100%;
  text-align:left
}
.utility-info:after{
  content:" ";
  background: url(https://rawcdn.githack.com/Nodws/NodPen/ffad95aa5244b4b09a3c7c1508a018959bbedb7e/postItem/licons.svg) center no-repeat;
  background-size: 30px auto;
  display:block;
  opacity: 0.4;
  position:absolute;
  bottom:25px;
  right:15px;
  width:30px;
  height:15px
}
.utility-info a:hover{
  text-decoration:underline
}
.utility-list {
  list-style-type: none;
  margin: 0 0 10px 20px;
  padding: 0;
  width: 100%;

}
.utility-list li {
  margin: 0 5px 0 0;
  padding: 3px 0 15px 0px;
  display: inline-block;
  
  font-size:0.8em
}

.licon{
  position:relative;  
   width:23px;
   height:15px;
   display:inline-block;
   vertical-align:middle;
}
.licon:before{
  content:"";
   background:url(https://rawcdn.githack.com/Nodws/NodPen/ffad95aa5244b4b09a3c7c1508a018959bbedb7e/postItem/licons.svg?) -2px -6px no-repeat;
   background-size:250px;
   width:26px;
   height:20px;
   display:inline-block;
   vertical-align:middle;
   position:absolute;
   top:-3px;
   left:0;
}
.icon-white{
   filter: brightness(10);
}
.icon-black{
   filter: brightness(0);
   opacity:0.6
}
.icon-like:before{
  background-position: -183px -6px;

}
.icon-com:before{
  background-position: -63px -4px;

}
.icon-dat:before{
  background-position: -94px -7px;
}
.icon-tag:before{
  background-position: -33px -6px;

}

@media (max-width:750px)
{
  .utility-info {
    text-align:center;
  }
  .utility-info ul{
    width:100%;
    margin:0;
    box-sizing:border-box
  }
  .utility-info li{
    width:49%;
    display:inline-block;
    box-sizing:border-box;
    margin:0
  }
}

@media (max-width:500px){
  .utility-info li:last-of-type{
    width:100%
  }
  .card-info{
    display:none
  }
  .blog-card:hover .title-content,.title-content{
  margin-top:40px
}
.blog-card{
  height:300px
}
.blog-card h3{
  font-size:1.3em
}
.intro{
  font-size:0.8em
}
}


/*  ================  */

/* ignore this bit :P */
/* #profile-badges:after {
    content: "BRO";
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    font-size:13px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 1px 4px 1px 4px;
    color: black !important;
    border-radius: 3px;
    position: relative;
    top: -2px;
    text-shadow: none !important;
    white-space: nowrap;
    letter-spacing: 0;
    background: #FFDD40;
} */
/* .profile-header{ background:#333 url(https://images.unsplash.com/photo-1435783099294-283725c37230?dpr=1&auto=compress,format&fit=crop&w=1376&h=635&q=80&cs=tinysrgb&crop=&bg=) top center no-repeat; background-size:cover; font-size:3em;position:relative}
.profile-header:after{
  position:absolute;
  content:"";
  display:block;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:rgba(23, 23, 31, 0.42);
  z-index:0
}
#profile-links a{
  font-family: 'Abril Fatface', serif;
  font-size:1.2em
} */
/* 

.profile-links a[href*=nodws\.com]:before{
    content:"\2616";
    color:#0a45b5;
    padding-right:3px
}

.profile-links a[href*=twitter]:before{
    content:"\1f426";
    color:#08c
}

.profile-links a[href*=dribbble]:before{
    content:"\26BE";
    color:#d055bf
}
#following-this-user{
  pointer-events:none
}
#follow-this-user{
    font-size:1.2em;
    border-color:#359ef9
}
#follow-this-user:after{
    content:"\1f448"
}
.links-and-stats {
    background: rgb(20, 20, 21);
}
.profile-name h1 {
   text-shadow:0 6px 9px rgba(0, 0, 0, 0.48)
}
.profile-avatar {
    bottom: -10px;
    width: 150px;
    height: 150px;
    border: 0px solid #1E1E1E;
    background: rgba(2, 2, 2, 0.49);
    box-shadow:0 19px 19px -10px rgba(0, 0, 0, 0.63)
}
.profile-username, .upsell,.profile-location,.primary-pro{
  opacity:0;
}
.upsell,#pen-as-header-question{
  display:none
}
.profile-nav-1 a{
  font-size:1.2rem;
}
.profile-bio, .profile-nav-1 a.active,.profile-nav-1 a:hover {
    color: rgba(20, 20, 21, 0.59) !important;
    font-size: 1.2rem
}
.meta .pen-title {
  font-family: 'Droid Serif', serif;
  text-align:center
}
.pagination-button{
  background-color:#2f2f31;
  border-color:#2f2f31;
  transition:all 0.2s
}
.pagination-button:hover{
  box-shadow:0 3px 8px rgba(0,0,0,0.2)
}
.single-project .stats,.single-pen .stats {
    text-align:center;
    width:100%
}
.stats svg {
    fill: #bda26b;
}
.stats svg, .loves .icon-heart {
    fill: rgba(47, 47, 49, 0) !important;
    stroke:#ba6 !important;
    stroke-width:0.1em !important;
}
.loves .icon-heart {
   stroke-width:0.5em !important;
}
.comments svg {
   stroke-width:0.35em !important;
}
.single-stat.loves.loved-1 svg
{
    stroke:#fff !important
}

.single-pen:hover h3:after{
    width:40%;
    transition:all 0.2s
}
.pen-actions{
  border:0px !important
}
.meta{
  box-shadow:none !important
} */


/*----------------------------------------
  General Layout Style
------------------------------------------*/

.container {
  padding: 0 0.5rem;
  margin: 0 auto;
  max-width: 100% !important;
  width: 98%;
}


#card-stats .card-content {
  text-align: center;
}
#card-stats .card-stats-title, #card-stats .card-stats-title i {
  font-size: 1.2rem;
}

#card-stats .card-stats-compare {
  font-size: 1.0rem;
}
#card-stats .card-stats-compare i{
  position: relative;
  top: 5px
}
#card-stats .card-stats-number {
  font-size: 1.8rem;
  line-height: 2.0rem;
  margin: 0.2rem 0 0.2rem 0;
  font-weight: 500;
}
/*work-collections*/

#work-collections .collection-header {
  font-size: 2.0rem;
  font-weight: 500;
}
#work-collections .collection-item.avatar {
  height: auto;
}
#work-collections p.collections-title {
  font-size: 1.0rem;
  padding: 0;
  margin: 0;
  font-weight: 500;
}
#work-collections p.collections-content {
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
  font-weight: 400;
}
/*flight-card*/

#flight-card .card-header .card-title {
  padding: 20px;
}
#flight-card .flight-card-title {
  margin: 0;
  font-weight: 300;
}
#flight-card .flight-card-date {
  font-size: 1.0rem;
  margin: 0;
}
#flight-card .flight-state {
  padding-bottom: 15px;
}
#flight-card .flight-state-two {
  border-left: 1px dashed #9e9e9e;
}
#flight-card .flight-icon {
  font-size: 2.2rem;
  display: block;
  -webkit-transform: rotate(90deg);
  /* Safari */
  
  -moz-transform: rotate(90deg);
  /* Firefox */
  
  -ms-transform: rotate(90deg);
  /* IE */
  
  -o-transform: rotate(90deg);
  /* Opera */
  
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3); 
  /* SASS Internet Explorer */
}
#flight-card .card-content-bg {
  background: url('http://demo.geekslabs.com/materialize/v2.1/layout03/images/sample-1.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#flight-card .card-content {
  background: rgba(0, 0, 0, 0.25);
}
#flight-card .flight-state-wrapper {
  margin: 0 0 100px 0 !important;
}
/*task-card*/

#task-card label {
  display: block;
  color: rgba(0, 0, 0, 0.87);
  height: auto;
}
#task-card .task-card-title {
  margin: 0;
  color: #fff;
  font-weight: 300;
}
#task-card .task-card-date {
  font-size: 1.0rem;
  margin: 0;
  color: #fff;
}
#task-card .collection-header {
  padding: 20px;
}
#task-card .task-add{
  position: absolute;
  right: 10px;
  top: 76px;
}
#task-card .task-cat {
  padding: 2px 4px;
  color: #fff;
  margin-left: 37px;
  font-weight: 300;
  font-size: 0.8rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
}
.task-cat {
  padding: 2px 4px;
  color: #fff;
  font-weight: 300;
  font-size: 0.8rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
}
.collection .collection-item.avatar i.circle {
  font-size: 28px;
}
/* Profile Card */

#profile-card .card-image {
  height: 150px;
}
#profile-card .card-content p {
  font-size: 1.2rem;
  margin: 10px 0 12px 0;
}
#profile-card .card-profile-image {
  width: 70px;
  position: absolute;
  top: 110px;
  z-index: 1;
  cursor: pointer;
}

.card {
background-color: black;

}